<ul class="blog-social-link">
    <li><a *ngIf="type === 'facebook'" (click)="share()"><img src="./assets/images/blog/facebook.png" alt="facebook" /></a></li>
    <li><a *ngIf="type === 'twitter'" (click)="share()"><img src="./assets/images/blog/twitter.png" alt="twitter" /></a></li>
    <li><a *ngIf="type === 'linkedin'" (click)="share()"><img src="./assets/images/blog/linkedin.png" alt="linkedin" /></a></li>
    <li class="last"><a *ngIf="type === 'ninecircle'"><img src="./assets/images/blog/nine.png" alt="nine" /></a></li>
</ul>