<section class="footer-top-section py-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <h4>About</h4>
        <ul class="footer-page-dropdown">
          <li>
            <a routerLink="aboutpgc">About PGC</a>
          </li>
          <li>
            <a routerLink="project-partner">Project Partners</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-4">
        <div class="footer-links-container">
          <h4>Quick Links</h4>
          <ul class="footer-page-dropdown">
            <li><a routerLink="contactus">Contact Us</a></li>
            <li><a routerLink="careers"> Careers</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="footer-links-container">
          <h4>News & Media</h4>
          <ul class="footer-page-dropdown">
            <li><a routerLink="blogs">Blogs </a></li>
            <li><a routerLink="covid-19">Covid-19</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="footer-links-right-container">
          <h4>Explore</h4>
          <ul class="footer-page-dropdown">
            <li><a routerLink="medical-awareness">Medical Awareness</a></li>
            <li><a routerLink="accountability">Accountability</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="footer-middle-container py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="footer-logo-container">
          <a class="navbar-brand" routerLink="/"><img class="header-logo" src="./assets/images/Cure-white-logo@4x.png"
              alt="PGC LOGO" /></a>
          <p class="my-3">{{ config.appDisplayName }} is an initiative of Humanity Welfare Council</p>
          <p class="my-3">Humanity Welfare Council a Sec 8 Company Duly Registered With Ministry Of
            Corporate Affairs vides</p>
          <p>CIN - U74999DL2017NPL325791</p>
          <ul class="footer-social-links">
            <li><a class="facebook" href="https://www.facebook.com/ProjectGlobalCure/" target="_blank"><i
                  class="fab fa-facebook-f" aria-hidden="true"></i></a></li>

            <li><a class="twitter" href="https://twitter.com/HWCglobalCure" target="_blank"><i class="fab fa-twitter"
                  aria-hidden="true"></i></a></li>
            <li><a class="youtube" href="https://www.youtube.com/results?search_query=project+global+cure"
                target="_blank"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
            <li><a class="instagram" target="_blank" href="https://instagram.com/projectglobalcure/"><i
                  class="fab fa-instagram"></i></a></li>
            <li><a class="instagram" target="_blank" href="https://projectglobalcure.tumblr.com/"><i
                  class="fab fa-tumblr-square"></i></a></li>
            <li><a class="instagram" target="_blank" href="https://www.linkedin.com/company/projectglobalcure"><i
                  class="fab fa-linkedin"></i></a></li>
            <li><a class="instagram" target="_blank" href="https://pin.it/7MGu1fT"><i
                  class="fab fa-pinterest-square"></i></a></li>
          </ul>
        </div>
        <div class="footer-extra-link-container">
          <ul class="extra-link-list-container">
            <li><a routerLink="terms-condition"> Terms & Condition</a></li>
            <li><a routerLink="privacy-policy"> Privacy Policy</a></li>
            <li><a routerLink="faqs"> FAQs</a></li>
            <li><a href="https://projectglobalcure.org/sitemap.xml"> SiteMap</a></li>
            <li><a routerLink="contactus"> Contact us</a></li>
            <!-- <li><a  href="https://www.sparktraffic.com/?ref=1084900" target="_blank">Traffic Bot</a></li> -->
            <li><a routerLink="login"   style="border-right:none;"> Login</a>
            </li>
          </ul>
        </div>
        <a href="tel:18003094055">
          <div class="phone-call"><i class="fas fa-phone-alt"></i></div>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="footer-bottom-container py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="copyright_section">
          <p>
            Copyright <span><i class="far fa-copyright"></i></span> 2021 <span>{{ config.appDisplayName }}.</span>
            All rights reserved. Website Designed by
            <a href="https://www.concientotech.com/" target="_blank">Conciento-Tech.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
