.payment-modes-options {
    margin: 10px 0 0;
}
.payment-modes-options ul {
    padding-left: 0px;
    margin: 0;
    margin-top: 4px;
    display: inline-block;
}
.credit-debit {
    background-position: 0 101px;
    width: 97px;
}
.credit-debit:hover {
    background-position: 368px 101px;
}
.netbank {
    background-position: -102px 101px;
    width: 77px;
}
.netbank:hover {
    background-position: 264px 101px;
}
.paytm-wallets {
    background-position: -274px 101px;
    width: 94px;
    margin-right: 6px;
}
.paytm-wallets:hover {
    background-position: 94px 101px;
}
  /* animated phone icon */
  .phone-call {
    width: 50px;
    height: 50px;
    right:0; top:50%;
    background: #FF0801;
    position: fixed;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    z-index: 99;
  display: inline-block;
  line-height: 55px;
}
.phone-call:before {
    position: absolute;
    content: " ";
    z-index: -1;
    top: -35px;
    left: -35px;
    background-color: #FF0801;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    opacity: 0.6;
    -webkit-animation: pulse 1s ease-out;
    animation: pulse 1.9s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    25% {
        -webkit-transform: scale(0.3);
        opacity: 1;
    }
    50% {
        -webkit-transform: scale(0.6);
        opacity: .6;
    }
    75% {
        -webkit-transform: scale(0.9);
        opacity: .3;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}
@keyframes pulse {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    25% {
        transform: scale(0.3);
        opacity: 1;
    }
    50% {
        transform: scale(0.6);
        opacity: .6;
    }
    75% {
        transform: scale(0.9);
        opacity: .3;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}