 .pgc-donate-text-box{
      padding: 12px 25px;
  }
  .btn-donatenow{
    background-color: #a42a6a;
    color: #fff;
    padding: 10px 50px;
    border-radius: 26px;
    text-align: center;
    margin: 0 auto;
    display: table;
    font-size: 18px;
  }

  
 