<div class="position-relative my-5">
  <div>
    <title>404: Page not found</title>
  </div>
  <div class="body-div">
    <div class="top-div">
        Oops, we have a problem.<br>
      Error: 404. Page not found.
    </div>
    <div class="image-container">
      <div class="image-div text-center">
        <a routerLink="/"><img src="assets/images/404.png" alt="404" class="img-fluid"></a>
      </div>
    </div>

    <div class="bottom-div">
      The link you followed is probably broken or the page has been removed.
    </div>
  </div>
</div>

