.pgc-activities-img-content{width:40%; position: absolute; bottom: 30px; background: #fff; left: 30px;
     padding: 30px;
}

.pgc-activities-img-content h5{font-weight: 600; line-height: 1.6;}
.pgc-activities-img-content a{color: #a42a6a; text-decoration: none;}
.pgc-activity-h5{color: #a42a6a;}