<section class="home-banner"
    style="background-image: url(./assets/images/blog/woman-3190829_1920.jpg); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-6">
                <h1 class="pgc-blog">{{ config.appDisplayName }} <br />Activities</h1>
            </div>
        </div>
    </div>
</section>
<section class="py-5"></section>
<section class="about-future-funding-section">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="pgc-activity-h1">Campaigns & Interactive reports</h1>
            </div>
            <div class="col-lg-12">
                <div class="position-relative">
                    <img class="img-fluid" src="./assets/images/activities/4-FC589884.png" alt="Campaigns & Interactive reports" />
                    <div class="pgc-activities-img-content">
                        <h3>State of World Population</h3>
                        <h5>My Body is My Own: State of World
                            Population Report 2021</h5>
                        <p>We have the inherent right to choose what we do with
                            our body, to ensure its protection and care, to pursue its
                            expression. The quality of our lives depends on it. In fact,
                            our lives themselves...</p>
                        <a routerLink="/activitiesdetails">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pgc-activities-listing-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 my-3">
                <div class="case-listing-pgc">
                    <img class="img-fluid w-100" src="./assets/images/activities/5-SM603113.png" alt="Interactive report">
                    <div class="item-details medical-item-padding">
                        <h5 class="pgc-activity-h5">Interactive report</h5>
                        <h5><strong>The State of the World's Midwifery 2021</strong></h5>
                        <p>In 2020, PGC witnessed the greatest humanitarian crisis since the organization's creation 52
                            years ago: the COVID-19 pandemic. This public health catastrophe brought with it
                            socioeconomic,..</p>
                        <a routerLink="/activitiesdetails" class="case-readmore d-inline-block mb-4">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-3">
                <div class="case-listing-pgc">
                    <img class="img-fluid w-100" src="./assets/images/activities/8-SM601468.png" alt="Interactive report">
                    <div class="item-details medical-item-padding">
                        <h5 class="pgc-activity-h5">Interactive report</h5>
                        <h5><strong>The State of the World's Midwifery 2021</strong></h5>
                        <p>In 2020, PGC witnessed the greatest humanitarian crisis since the organization's creation 52
                            years ago: the COVID-19 pandemic. This public health catastrophe brought with it
                            socioeconomic,..</p>
                        <a routerLink="/activitiesdetails" class="case-readmore d-inline-block mb-4">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-3">
                <div class="case-listing-pgc">
                    <img class="img-fluid w-100" src="./assets/images/activities/20-SM287323.png" alt="Interactive report">
                    <div class="item-details medical-item-padding">
                        <h5 class="pgc-activity-h5">Interactive report</h5>
                        <h5><strong>The State of the World's Midwifery 2021</strong></h5>
                        <p>In 2020, PGC witnessed the greatest humanitarian crisis since the organization's creation 52
                            years ago: the COVID-19 pandemic. This public health catastrophe brought with it
                            socioeconomic,..</p>
                        <a routerLink="/activitiesdetails" class="case-readmore d-inline-block mb-4">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-3">
                <div class="case-listing-pgc">
                    <img class="img-fluid w-100" src="./assets/images/activities/220-SM401262.png" alt="Interactive report">
                    <div class="item-details medical-item-padding">
                        <h5 class="pgc-activity-h5">Interactive report</h5>
                        <h5><strong>The State of the World's Midwifery 2021</strong></h5>
                        <p>In 2020, PGC witnessed the greatest humanitarian crisis since the organization's creation 52
                            years ago: the COVID-19 pandemic. This public health catastrophe brought with it
                            socioeconomic,..</p>
                        <a routerLink="/activitiesdetails" class="case-readmore d-inline-block mb-4">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-3">
                <div class="case-listing-pgc">
                    <img class="img-fluid w-100" src="./assets/images/activities/220-SM878975.png" alt="Interactive report">
                    <div class="item-details medical-item-padding">
                        <h5 class="pgc-activity-h5">Interactive report</h5>
                        <h5><strong>The State of the World's Midwifery 2021</strong></h5>
                        <p>In 2020, PGC witnessed the greatest humanitarian crisis since the organization's creation 52
                            years ago: the COVID-19 pandemic. This public health catastrophe brought with it
                            socioeconomic,..</p>
                        <a routerLink="/activitiesdetails" class="case-readmore d-inline-block mb-4">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 my-3">
                <div class="case-listing-pgc">
                    <img class="img-fluid w-100" src="./assets/images/activities/220-SS938274.png" alt="Interactive report">
                    <div class="item-details medical-item-padding">
                        <h5 class="pgc-activity-h5">Interactive report</h5>
                        <h5><strong>The State of the World's Midwifery 2021</strong></h5>
                        <p>In 2020, PGC witnessed the greatest humanitarian crisis since the organization's creation 52
                            years ago: the COVID-19 pandemic. This public health catastrophe brought with it
                            socioeconomic,..</p>
                        <a routerLink="/activitiesdetails" class="case-readmore d-inline-block mb-4">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <a class="blog-loadmore-btn" hidden>Load More <i class="fa fa-arrow-down" aria-hidden="true"></i></a>
            </div>

        </div>
    </div>
</section>