<section class="home-banner mobile-banner-center-align"
    style="background-image: url(./assets/images/gallery/privacy.webp); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Privacy Policy</h1>
            </div>
        </div>
    </div>
</section>
<section class="privacy-policy-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>Your privacy is of utmost importance to us. This privacy statement describes our policy concerning
                    the
                    gathering and sharing of your information through our web site. It applies to all our web sites and
                    links
                    available under the domain name –<strong>"projectglobalcure.org"</strong> . </p>
                <h1 class="text_b fs-5">What information we collect?</h1>
                <h1 class="text_b fs-5">Normal web site usage</h1>
                <p>In general, you can browse our site without sharing your personal information with us. The
                    information we
                    gather during general browsing is from standard server logs. These include your </p>
                <ul class="instruction-bank-transfer-list">
                    <li>IP (Internet Protocol) address</li>
                    <li>Domain name</li>
                    <li>Browser type</li>
                    <li>Operating System the files you download, the pages you visit, with the dates/times of visits.
                    </li>
                </ul>
                <h1 class="text_b fs-5">Collection of personal information </h1>
                <p>If you register for a newsletter, order some request, providing feedbacks, application for job,
                    register for
                    electronic mailing list, discussion with team cure, making contributions, you will be requested to
                    provide
                    personal information such as your name, permanent address and e-mail address.</p>
                <p>This information is only collected with your knowledge and your approval and is kept in our database.
                    While
                    making <strong>donations</strong> or other contributions, you may be requested to provide financial
                    details.
                    These details are transferred to a secure payment service and we do not retain any such information.
                </p>
                <p>While registering or supplying personal information on our site may set a cookie. By setting this
                    cookie, we
                    will remember your details so that at your next visit, you don't have to re-enter the information.
                    This helps
                    us to provide you with a better service.</p>
                <p>We will suggest you refrain yourself from sharing personal information as the other participants of
                    the group
                    (including non-team cure members) may have access to your personal information. We will not be
                    liable for any
                    loss incurred by any person on such platforms as such information will be public and we have no
                    control on the
                    usage of such information shared publicly.</p>
                <h1 class="text_b fs-5">What we do with the information collected?</h1>
                <h1 class="text_b fs-5">Normal web site usage</h1>
                <p>The information gathered during general surfing on our web site
                    <strong>"projectglobalcure.org"</strong> is
                    used to analyze trends and our site usage and to improve the performance of our web site and to
                    provide you
                    better experience thereby saving your time and efforts.
                </p>
                <h1 class="text_b fs-5">Personal information</h1>
                <p>We may use your personal information to:</p>
                <ul class="instruction-bank-transfer-list">
                    <li>Connect with you – to respond to your queries or feedbacks or to mail newsletters, documents,
                        publications
                        etc.;</li>
                    <li>To manage and process your job applications;</li>
                    <li>Confirm your contributions and registrations on the site;</li>
                    <li>To obtain payment for contributions made on the site (via Plastic Money);</li>
                    <li>"Remember" your preferences to provide you a better experience;</li>
                    <li>To assist you with relevant information based on your personal interests, and help us create the
                        most
                        relevant site content for you;</li>
                    <li>In-depth analysis.</li>
                </ul>
                <h1 class="text_b fs-5">What will happen if I don't provide personal information?</h1>
                <p>Sharing your personal information with us is your decision and it is optional on our web site. You
                    are free
                    to browse our site without sharing any personal information with us but, doing so may not give you
                    complete
                    access to the services available on the web site of <strong>"projectglobalcure.org"</strong></p>
                <h1 class="text_b fs-5">What if I want to change my information?</h1>
                <p>You can modify or cancel your information at any point of time by returning to the page where the
                    details
                    were submitted. </p>
                <h1 class="text_b fs-5">Security</h1>
                <p>We do not sell or share any personal information to any third party. In certain cases, the
                    information can be
                    provided to the government authorities. We take utmost care to give you a safe and secure
                    experience. To
                    maintain your privacy, we have taken strict measures to protect your personal information on our
                    systems from
                    loss, misuse, unauthorized access or disclosure, alteration, or destruction.</p>
                <p>All the employees who have access to such information are obliged to respect the confidentiality of
                    such
                    information.</p>
                <h5 class="text_b">Notification of changes</h5>
                <p>Changes to this privacy policy will be posted on the home page at <a
                        href="https://projectglobalcure.org/" target="_blank">www.projectglobalcure.org </a></p>
                <h5 class="text_b">Contact</h5>
                <p>For questions or queries regarding this privacy policy, please contact us at <a
                        href="mailto:{{ config.contactEmail }}">{{ config.contactEmail }} </a></p>
                <h5 class="text_b">Cookies </h5>
                <p>To improve the responsiveness of the sites for our users, we may use "cookies", or similar electronic
                    tools
                    to collect information to assign each visitor a unique, random number as a User Identification (User
                    ID) to
                    understand the user's individual interests using the Identified Computer. Unless you voluntarily
                    identify
                    yourself (through registration, for example), we will have no way of knowing who you are, even if we
                    assign a
                    cookie to your computer. The only personal information a cookie can contain is information you
                    supply (an
                    example of this is when you ask for our Personalized Horoscope). A cookie cannot read data off your
                    hard
                    drive. Our advertisers may also assign their own cookies to your browser (if you click on their
                    ads), a
                    process that we do not control</p>
                <p>Our web servers automatically collect limited information about your computer's connection to the
                    Internet,
                    including your IP address, when you visit our site. (Your IP address is a number that lets computers
                    attached
                    to the Internet know where to send you data -- such as the web pages you view.) Your IP address does
                    not
                    identify you personally. We use this information to deliver our web pages to you upon request, to
                    tailor our
                    site to the interests of our users, to measure traffic within our site and let advertisers know the
                    geographic
                    locations from where our visitors come.</p>
            </div>
        </div>
    </div>
</section>