<div class="py-5"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-12 justify-content-between d-flex">
            <div><a class="faq-back-link">FAQ &nbsp; </a>>> &nbsp; For Organizers</div>
            <div class="faq-search-icon">
                <i aria-hidden="true" class="fa fa-search"></i>
                <input type="text" class="form-control faq-searchbox" placeholder="Search" />
            </div>
        </div>
        <div class="col-lg-12 my-4">
            <h1 class="fs-2">For Organizers</h1>
            <p>Are you raising funds on PGC? If yes, please read through the articles under this</p>
        </div>
        <div class="col-lg-6 my-4">
            <a class="faq-details-heading">
                <h4>DONOR QUERIES</h4>
            </a>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-gettingstartedone">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-getstartOne" aria-expanded="false"
                            aria-controls="panelsStayOpen-getstartOne">
                            Am I eligible for 80G exemption?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-getstartOne" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-gettingstartedone">
                        <div class="accordion-body">
                            If the donor is donating 500 or more, then they’re eligible for Tax 80G exemption.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-gettingstartedtwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-getstarttwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-getstarttwo">
                            How does my donation reach the patient and how is it utilized?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-getstarttwo" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-gettingstartedtwo">
                        <div class="accordion-body">
                            Once funds are collected (even if partial funds are collected), the hospital is paid to
                            begin the treatment. The funds are utilized for pre, ongoing and post treatment. If any
                            funds are left, it is utilized for the next patient. The funds could be utilized for all
                            essentials (everything including food, travel, accommodation) for patient and family
                            members. Based on the financial condition of the family, ration can also be provided.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-gettingstartedthree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-getstartthree" aria-expanded="false"
                            aria-controls="panelsStayOpen-getstartthree">
                            What benefits do I get when I make a donation?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-getstartthree" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-gettingstartedthree">
                        <div class="accordion-body">
                            Tax 80G certificate, sense of satisfaction of saving a life.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-gettingstartedfour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-getstartfour" aria-expanded="false"
                            aria-controls="panelsStayOpen-getstartfour">
                            Can I connect with the patient I am supporting or get his/her details?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-getstartfour" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-gettingstartedfour">
                        <div class="accordion-body">
                            No, to maintain privacy, and also organizational protocol.
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-gettingstartedfive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-getstartfive" aria-expanded="false"
                            aria-controls="panelsStayOpen-getstartfive">
                            What happens to my donation when the patient I supported dies?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-getstartfive" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-gettingstartedfive">
                        <div class="accordion-body">
                            The fundings will be utilized for the next immediate patient/case, even if not running
                            campaign on the case. The donors are made aware of where their donations are going as per
                            Post update reports on our website.
                        </div>
                    </div>
                </div>

            </div>
            <!-- <a href="#" class="see-all-articles">See all 7 articles</a> -->
        </div>
        <div class="col-lg-6 my-4">
            <a class="faq-details-heading">
                <h4>MEDICAL SUPPORT QUERIES</h4>
            </a>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-fundraiseOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-fundraiserOne" aria-expanded="false"
                            aria-controls="panelsStayOpen-fundraiserOne">
                            How do I get in touch with PGC for medical support?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-fundraiserOne" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-fundraiseOne">
                        <div class="accordion-body">
                            Call our toll-free number, OR drop us a mail, OR connect over social media handles with all
                            the information and our team will connect with you directly.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-fundraiseTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-fundraiserTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-fundraiserTwo">
                            How will PGC support my treatment?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-fundraiserTwo" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-fundraiseTwo">
                        <div class="accordion-body">
                            We are partnered with Milaap, a crowdsourcing platform. If the partner is not able to
                            support due to unavoidable reasons, we fundraise on our platform. Initial verification
                            process is done and the treatment is initiated with partner hospitals.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-fundraiseThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-fundraiserThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-fundraiserThree">
                            What is the procedure of getting enrolled as a beneficiary?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-fundraiserThree" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-fundraiseThree">
                        <div class="accordion-body">
                            Call/connect with us- share details – verification process is done - we connect with patient
                            and/or family, video shoot of patient for ads and take it forward.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-fundraiseFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-fundraiserFour" aria-expanded="false"
                            aria-controls="panelsStayOpen-fundraiserFour">
                            What are the documents required to apply for medical support?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-fundraiserFour" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-fundraiseFour">
                        <div class="accordion-body">
                            Aadhar card, patient report (if any), BPL card (if any)
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-fundraiseFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-fundraiserFive" aria-expanded="false"
                            aria-controls="panelsStayOpen-fundraiserFive">
                            Why was my application rejected?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-fundraiserFive" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-fundraiseFive">
                        <div class="accordion-body">
                            After your details are shared, we share it with agency to run campaigns, ads. If the agency
                            rejects from their end (if the case is not considered strong as per their eligibility
                            criteria), they can reject the application. PGC can reject if the verification details are
                            not convincing (this includes documents, verification call, family details). Also, if the
                            disease is not curable, the application may be rejected as we cannot get funds for such
                            cases.
                        </div>
                    </div>
                </div>

            </div>
            <!-- <a href="#" class="see-all-articles">See all 7 articles</a> -->
        </div>
        <div class="col-lg-6 my-4">
            <a class="faq-details-heading">
                <h4>PARTNERSHIP/NGO QUERIES</h4>
            </a>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-successfullfundraiseOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-successfullfundraiserOne" aria-expanded="false"
                            aria-controls="panelsStayOpen-successfullfundraiserOne">
                            What is the process of becoming a partner with PGC?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-successfullfundraiserOne" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-successfullfundraiseOne">
                        <div class="accordion-body">
                            Call/ connect with us, sign an MoU.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-successfullfundraiseTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-successfullfundraiserTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-successfullfundraiserTwo">
                            What are the parameters on which the applications are shortlisted?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-successfullfundraiserTwo" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-successfullfundraiseTwo">
                        <div class="accordion-body">
                            Not anything in particular - as per requirements. If hospitals, corporates, etc. different
                            parameters.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-successfullfundraiseThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-successfullfundraiserThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-successfullfundraiserThree">
                            Does PGC provide financial support to its partners?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-successfullfundraiserThree" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-successfullfundraiseThree">
                        <div class="accordion-body">
                            No, we don’t encourage this. Maybe yes if hospitals.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-successfullfundraiseFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-successfullfundraiserFour" aria-expanded="false"
                            aria-controls="panelsStayOpen-successfullfundraiserFour">
                            What are how I can support PGC as a partner?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-successfullfundraiserFour" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-successfullfundraiseFour">
                        <div class="accordion-body">
                            If you are an individual, then you can join us as a member, and if you are an institution,
                            non-government organization, a private company, or government body can join us as our
                            project partner and can support us in various ways. For details, fill our project partner
                            form, and we will connect with you.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-successfullfundraiseFive">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-successfullfundraiserFive" aria-expanded="false"
                            aria-controls="panelsStayOpen-successfullfundraiserFive">
                            What benefits do I get when I partner with PGC?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-successfullfundraiserFive" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-successfullfundraiseFive">
                        <div class="accordion-body">
                            There are various benefits available for our project partners, for details please fill our
                            project partner form and we will connect with you to help you with your query.
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-6 my-4">
            <a class="faq-details-heading">
                <h4>TRUST AND PRIVACY QUERIES</h4>
            </a>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-ngoOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-ngosOne" aria-expanded="false"
                            aria-controls="panelsStayOpen-ngosOne">
                            Will my identity be hidden as a beneficiary?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-ngosOne" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-ngoOne">
                        <div class="accordion-body">
                            Depends on the beneficiary – if they want their identity to be shared/hidden
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-ngoTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-ngosTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-ngosTwo">
                            How are the beneficiary details verified?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-ngosTwo" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-ngoTwo">
                        <div class="accordion-body">
                            The coordinators, verify over call, do a home visit, check the docs, verify the credentials
                            from nearby people, etc.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-ngoThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-ngosThree" aria-expanded="false"
                            aria-controls="panelsStayOpen-ngosThree">
                            How do I know a campaign running is authentic?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-ngosThree" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-ngoThree">
                        <div class="accordion-body">
                            We are partnered with Milaap which is a credible organization. To maintain authenticity, we
                            conduct video shoot at the homes of the patients, not hospitals. We provide the required
                            documents upon request.
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-lg-6 my-4">
            <a class="faq-details-heading">
                <h4>GENERAL QUERIES</h4>
            </a>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-gqueryOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-generalQOne" aria-expanded="false"
                            aria-controls="panelsStayOpen-generalQOne">
                            What is Project Global Cure?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-generalQOne" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-gqueryOne">
                        <div class="accordion-body">
                            Project Global Cure is an initiative of Humanity Welfare Council that aims to transform the
                            health care sector in India by providing necessary funds to people in urgent need of medical
                            assistance and advancing the medical system with increased accessibility. Our motto is to
                            transform our health system and make medical care available for the general public without
                            any burden of extra cost.
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-gqueryTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-generalQTwo" aria-expanded="false"
                            aria-controls="panelsStayOpen-generalQTwo">
                            How does PGC work?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-generalQTwo" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-gqueryTwo">
                        <div class="accordion-body">
                            Any individual can approach Team Project Global Cure for Support. Team will check the
                            authenticity of the case and select the case based on the gravity of the situation.
                            Financial support is raised through different mediums. These funds will be utilized for the
                            payments of medical bills and aftercare of the patient. Team meets the patient, and all the
                            records with a thanksgiving video are provided to the supporters. Team monitors the case for
                            one year. Any unutilized balance will be transferred towards the treatment of other needy
                            patients.
                        </div>
                    </div>
                </div>


            </div>
        </div>


        <div class="col-lg-6 my-4">
            <a class="faq-details-heading">
                <h4>MEMBER QUERIES</h4>
            </a>
            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-mqueryOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-memberQOne" aria-expanded="false"
                            aria-controls="panelsStayOpen-memberQOne">
                            What benefits do I get as a member of PGC?
                        </button>
                    </h2>
                    <div id="panelsStayOpen-memberQOne" class="accordion-collapse collapse"
                        aria-labelledby="panelsStayOpen-mqueryOne">
                        <div class="accordion-body">
                            Access and membership to events (online and offline) such as yoga and other health related
                            events, online doctor consultation, or offline at any partner hospitals, all free of cost.
                        </div>
                    </div>
                </div>



            </div>
        </div>


    </div>
</div>
