<section class="home-banner"
    style="background-image: url(./assets/images/press-releases-2880x1440.png); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-6">
                <h1 class="pgc-blog">{{ config.appDisplayName }} <br />Press Releases</h1>
            </div>
        </div>
    </div>
</section>
<section class="press-releases-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h5>We’re on a mission to end hunger and poverty by creating the foundation for sustainable change in
                    communities all over the world. Find the latest news and updates on our work, our initiatives, and
                    the causes that need our help the most.</h5>
            </div>
            <div class="col-lg-6">
                <div class="press-releases-download">
                    <p>2021 Media Kit</p>
                    <a class="press-releases-download-btn">Download</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="press-releases-section1 py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="press-releases-main-heading">All Press Releases</h1>
            </div>
        </div>
        <div class="row my-4">
            <div class="col-lg-9 my-4">
                <div class="press-releases-container">
                    <small>August 9, 2021</small>
                    <h4>Retired NBA Player Luke Ridnour Partners with PGC</h4>
                    <p>Lynden, WA (August 21, 2021) – Retired NBA point guard, Luke Ridnour, in partnership with his
                        Rid’s Kids Foundation and Convoy of Hope, will host a community event in Lynden, WA aimed at
                        easing the burden for families with children heading Lynden, WA (August 21, 2021) – Retired NBA
                        point guard, Luke Ridnour, in partnership with his Rid’s Kids Foundation and Convoy of Hope,
                        will host a community event in Lynden, WA aimed at easing the burden for families with children
                        heading Lynden, WA (August 21, 2021) – Retired NBA point guard, Luke Ridnour, in partnership
                        with his Rid’s Kids Foundation and Convoy of Hope, will host a community event in Lynden, WA
                        aimed at easing the burden for families with children heading…</p>
                    <span class="press-release-readmore"><a routerLink="/pressreleasesdetails">Read more</a></span>
                </div>
            </div>
            <div class="col-lg-3 my-4">
                <img src="./assets/images/CE-Facts-horiz-5-min.jpg" class="img-fluid" />
            </div>
            <div class="col-lg-12">
                <hr />
            </div>
        </div>
        <div class="row my-4">
            <div class="col-lg-9 my-4">
                <div class="press-releases-container">
                    <small>August 9, 2021</small>
                    <h4>Retired NBA Player Luke Ridnour Partners with PGC</h4>
                    <p>Lynden, WA (August 21, 2021) – Retired NBA point guard, Luke Ridnour, in partnership with his
                        Rid’s Kids Foundation and Convoy of Hope, will host a community event in Lynden, WA aimed at
                        easing the burden for families with children heading Lynden, WA (August 21, 2021) – Retired NBA
                        point guard, Luke Ridnour, in partnership with his Rid’s Kids Foundation and Convoy of Hope,
                        will host a community event in Lynden, WA aimed at easing the burden for families with children
                        heading Lynden, WA (August 21, 2021) – Retired NBA point guard, Luke Ridnour, in partnership
                        with his Rid’s Kids Foundation and Convoy of Hope, will host a community event in Lynden, WA
                        aimed at easing the burden for families with children heading…</p>
                    <span class="press-release-readmore"><a routerLink="/pressreleasesdetails">Read more</a></span>
                </div>
            </div>
            <div class="col-lg-3 my-4">
                <img src="./assets/images/CE-Facts-horiz-5-min.jpg" class="img-fluid" />
            </div>
            <div class="col-lg-12">
                <hr />
            </div>
        </div>
        <div class="row my-4">
            <div class="col-lg-9 my-4">
                <div class="press-releases-container">
                    <small>August 9, 2021</small>
                    <h4>Retired NBA Player Luke Ridnour Partners with PGC</h4>
                    <p>Lynden, WA (August 21, 2021) – Retired NBA point guard, Luke Ridnour, in partnership with his
                        Rid’s Kids Foundation and Convoy of Hope, will host a community event in Lynden, WA aimed at
                        easing the burden for families with children heading Lynden, WA (August 21, 2021) – Retired NBA
                        point guard, Luke Ridnour, in partnership with his Rid’s Kids Foundation and Convoy of Hope,
                        will host a community event in Lynden, WA aimed at easing the burden for families with children
                        heading Lynden, WA (August 21, 2021) – Retired NBA point guard, Luke Ridnour, in partnership
                        with his Rid’s Kids Foundation and Convoy of Hope, will host a community event in Lynden, WA
                        aimed at easing the burden for families with children heading…</p>
                    <span class="press-release-readmore"><a routerLink="/pressreleasesdetails">Read more</a></span>
                </div>
            </div>
            <div class="col-lg-3 my-4">
                <img src="./assets/images/CE-Facts-horiz-5-min.jpg" class="img-fluid" />
            </div>
            <div class="col-lg-12">
                <hr />
            </div>
        </div>
        <a class="blog-loadmore-btn" hidden>Load More <i aria-hidden="true" class="fa fa-arrow-down"></i></a>
    </div>
</section>