<section class="home-banner"
    style="background-image: url(./assets/images/press-release.png); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
            </div>
        </div>
    </div>
</section>
<section class="press-release-detais py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <p><strong>Noida, IND — August 21, 2021 —</strong> Retired NBA point guard Luke Ridnour, and
                    Projectglobal Cure, will host a Community Event in Noida, Bihar, Mumbai at easing the burden for
                    families with children heading back to school. The free event will take place on August 21 from 10
                    a.m.-2 p.m. PT and will provide groceries, school supplies, socks, shoes, haircuts, and much more
                    (while supplies last).</p>

                <p>“Our goal is to love and serve as many people as we can,” said Ridnour.</p>

                <p>PGC career began in 2003 when he was drafted by the Seattle SuperSonics. He went on to play for the
                    Milwaukee Bucks, Charlotte Bobcats, and the Orlando Magic before retiring in 2016.</p>

                <p><strong>When:</strong> Saturday, August 21, 10 a.m.-2 p.m. (while supplies last)</p>

                <p><strong>Where:</strong> 1986 Main Noida, IND</p>

                <p>“Luke and Kate are amazing partners of PGC and are determined to serve their community by focusing on
                    the needs of children and their families who could use a hand up,” said Kirk Noonan, who leads PGC,
                    a fanbase of kindness with PGC that the Ridnours have been a part of for the last few years. “The
                    Ridnours served at one of our Pro-Series Community Events last year in Gresham, Oregon, and wanted
                    to bring the event to their hometown.”</p>
            </div>
            <div class="col-lg-4">
                <div class="press-release-details-container">
                    <img src="./assets/images/CE-Facts-horiz-5-min.jpg" alt="CE facts" class="img-fluid" />
                    <h1 class="font-i-14">2021 Media Kit</h1>
                    <a class="press-releases-download-btn">Download</a>
                </div>
            </div>
        </div>
    </div>
</section>