<section class="home-banner mobile-banner-right-align"
    style="background-image: url(./assets/images/career/career-banner.webp); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="about-banner-heading">Let's <span>Work</span> Together and <br />
                    <span>Explore</span> Opportunities
                </h1>
                <p class="pgc-health-mmeting-paragraph">Think Outside the box</p>
            </div>
        </div>
    </div>
</section>
<section class="career-work-culture-section py-5 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>We Give You a Challenging & <span>Enjoyable</span> Work Culture.</h4>
                <p>ProjectGlobalCure (as we call ourselves) are a friendly bunch with a driving ambition to be the best
                    in
                    whatever we do. We are highly motivated with a zest for life, that is reflected in everything we
                    build &
                    together we make PGC a fun place to work. </p>
                <p>This environment, distinguishes us among other companies, enabling us to excel and innovate in what
                    we do for
                    our clients and in what we stand for as a company.</p>
                <a routerLink="/contactus">Know More</a>
            </div>
            <div class="col-md-4" data-aos="zoom-in-left">
                <img src="./assets/images/career/Scroll-Group.webp" class="img-fluid" alt="Explore PGC" />
            </div>
        </div>
    </div>
</section>
<section class="py-5 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="pgc-helpus-bank-details">
                    <h4 class="instruction-bank-transfer-heading">Expand your horizon and grow beyond your limits</h4>
                    <p>Internship Program to freshers to kick start their career by enhancing their skills with us. They
                        polish
                        their skill set and serve the society at once. We have vacancies for following-</p>
                    <ul class="instruction-bank-transfer-list">
                        <li>Social work graduates</li>
                        <li>Medical students</li>
                        <li>Journalism students</li>
                        <li>Volunteers from other fields</li>
                    </ul>
                    <p>We are thankful to "Internease" for the support extended to <strong>{{ config.appDisplayName
                            }}</strong>
                        and to
                        bridge the gap between interns and <strong>{{ config.appDisplayName }}</strong>.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 py-4" data-aos="fade-down-right">
                <h4>Official Internship And Training Partner</h4>
                <p>Internease is a modern platform for the students where they get an opportunity to showcase their
                    skills and
                    to learn skills necessary for their career growth. Internships are good opportunities for students
                    to learn
                    and develop themselves. Through Internships students can also get a good assessment about themselves
                    and about
                    the corporate world. We are very thankful to "Internease" for the support extended to
                    <strong>Project Global
                        Cure</strong> and to bridge the gap between interns and <strong>{{ config.appDisplayName
                        }}</strong> .
                </p>
            </div>
            <div class="col-lg-4 py-4  d-flex justify-content-center align-items-center">
                <div class="training-partner-logo" data-aos="fade-down-left">
                    <img src="./assets/images/career/partner-logo.png" />
                </div>
            </div>
            <div class="col-lg-8 py-5" data-aos="fade-down-right">
                <h4>Official Hiring Partner CRML</h4>
                <p>Conciento Resource Management has attained a distinctive position as one of the best human resource
                    management companys providing all kinds of HR solutions. We offers HR Audit Facilities and Policy
                    creation
                    services to all kinds of Multinational corporates along with staffing and manpower recruitment
                    services. We
                    also have the expertise of consolidating Campus Recruitment drives for various sectors across the
                    country. Our
                    experts have a wide first-hand practice of working in prominent private, public, and top MNCs.</p>
            </div>
            <div class="col-lg-4 py-4 d-flex justify-content-center align-items-center">
                <div class="training-partner-logo" data-aos="fade-down-left">
                    <img src="./assets/images/career/crm.png" alt="CRM" />
                </div>
            </div>
        </div>
    </div>
</section>
<section class="career-job-requirement-section overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="career-job-requirement-heading fs-2"><span>DESCRIPTION</span> JOB REQUIREMENTS</h1>
            </div>
            <div class="col-md-10 offset-md-1 my-4">
                <div class="accordion career-accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Social Media Specialist
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <h4>Job Description with complete roles and responsibilities</h4>
                                <ul class="career-list-margin">
                                    <li> Build our Digital marketing roadmap.</li>
                                    <li> Build, plan and implement the overall digital marketing strategy</li>
                                    <li> Build and execute social media strategy through competitive research, platform
                                        determination, benchmarking, messaging and audience identification</li>
                                    <li> Generate, edit, publish and share daily content (original text, images, video
                                        or HTML) that builds meaningful connections and encourages community members to
                                        take action</li>
                                    <li> Set up and optimize company pages within each platform to increase the
                                        visibility of company’s social content</li>
                                    <li> Collaborate with sales and marketing teams to develop social media campaigns.
                                    </li>
                                    <li> Stay up to date with the latest social media best practices and technologies.
                                    </li>
                                    <li> Communicate with industry professionals and influencers via social media to
                                        create a strong network</li>
                                    <li> Develop, implement and manage our social media strategy</li>
                                    <li> Define most important social media KPIs</li>
                                    <li> Manage and oversee social media content</li>
                                    <li> Hands-on experience in managing Facebook Ads and/or Google Ads at scale.</li>
                                    <li> Leading execution of high scale performance Paid & Organic campaigns with
                                        multiple campaign objectives.</li>
                                    <li> Collaborating with Content, creative and data teams to provide the best user
                                        experience for new users.</li>
                                    <li> Candidate is responsible for planning, implementing, managing and monitoring
                                        company's Social Media strategy in order to increase brand awareness, improve
                                        Marketing efforts and increase ORM/Sales.</li>
                                    <li> Experimenting continuously on creatives & design to drive ROI.</li>
                                    <li> Provide constructive feedback</li>


                                </ul>
                                <p><strong>Annual CTC -</strong> 4.80LPA-5.40LPA</p>
                                <p><strong>Hiring Location -</strong> Noida</p>
                                <p><strong>Work Experience -</strong> 4-5 years</p>
                                <p><strong>Qualification/ Employment (Full time / Part Time/Contractual) -</strong>
                                    Bachelor’s degree in journalism, communications, marketing, or a related field (Full
                                    Time)</p>
                                <p><strong>Notice Period -</strong> 15 to 30 days</p>
                                <p><strong>Number of roles open -</strong> 1</p>
                                <a class="career-strategy-applynow txt-primary"
                                    href="mailto:hr@projectglobalcure.org">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="career-job-requirement-heading fs-2"><span>EMPLOYEE</span> TESTIMONIAL</h1>
            </div>
            <div class="offset-md-2 col-md-8">
                <owl-carousel-o [options]="careertestimonial" class="owl-readmore">
                    <ng-container *ngFor="let testimonialdata of pgctestimonial">
                        <ng-template carouselSlide>
                            <!--TESTIMONIAL 1 -->
                            <div class="testimonial">
                                <div class="testimonial-content">
                                    <p class="description">{{testimonialdata.description}}
                                    </p>
                                </div>
                                <div class="testimonial-profile">
                                    <div class="pic">
                                        <img src="{{testimonialdata.img}}" alt="testimonial Logo" />
                                    </div>
                                    <h3 class="title">{{testimonialdata.name}}
                                        <span class="post">{{testimonialdata.profile}}</span>
                                    </h3>
                                </div>
                            </div>
                            <!--END OF TESTIMONIAL 1 -->
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>