<section class="home-banner mobile-banner-center-align"
    style="background-image: url(./assets/images/About-us/partner-withius.webp); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
            </div>
        </div>
    </div>
</section>
<section class="about-future-funding-section overflow-hidden">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 d-flex align-items-center">
                <div class="know-about-pgc" data-aos="zoom-out-right">
                    <h5>GET TO KNOW ABOUT <span>PGC</span></h5>
                    <h1>Future of funding for <span>things</span> that matter</h1>
                    <p>There’s a part of us that dreams of a better world. That spark of inspiration to help a
                        person, support a community or even change a nation.</p>
                    <h6>Have question? <a routerLink="/contactus">Talk to us <i class="fa fa-arrow-right"
                                aria-hidden="true"></i></a></h6>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" data-aos="zoom-out-left" alt="ABOUT  PGC"
                    src="./assets/images/About-us/Image-3.webp" />
            </div>
        </div>
    </div>
</section>
<section class="partner-section py-5 overflow-hidden">
    <div class="container">
        <div class="row">
            <div class="col-lg-12" data-aos="zoom-in-up">

                <h1 class="fs-2">As your learning partner, The PGC brings value to your organization’s current programs
                    and
                    future proposals.</h1>
                <p>We provide a wealth of experience in convening thought leaders and disseminating learning to a
                    wide and diverse audience across media and geographies. Our vast global reach can be leveraged
                    to create cross-organizational dialogue through practitioner-led research, collaborative
                    learning processes, the development of high-quality learning products and tools, and improved
                    standards of practice. </p>
            </div>
        </div>
    </div>
</section>