<section class="home-banner"
    style="background-image: url(./assets/images/partner/banner.png); background-repeat: no-repeat; background-size: cover;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-6">
            </div>
        </div>
    </div>
</section>
<section class="position-relative">
  <div class="container section_trusted"  style="background-image: url(./assets/images/partner/texture-bg.png); background-repeat: no-repeat; background-size: cover;">
    <div class="row">
      <div class="col-md-12 text-center">
          <h1 class="trusted-by">Our Project Partners </h1>
      </div>
     </div>
  </div>
</section>
<section class="pb-5">
  <div class="container">
      <div class="row">
          <div class="col-md-4 shadow-lg">
            <div class="mt-3">
              <div class=" p-4">
                <img src="./assets/images/partner/partner-samiti.png" alt="Projet partners" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="col-md-8 pt-md-0 pt-3">
              <!-- <h5>Project Partners: (Samudayik Vikas Samiti)</h5> -->
              <p>
                We are thankful to <strong>Samudayik Vikas Samiti</strong> for supporting us. Samudayik Vikas Samiti is a Civil Non-Government Organization located in New Delhi, with its efforts on the sphere of social development to provide the equitable sharing of resources, social justice, and sustainable livelihood promotion for the deprived sections of the society.
              </p>
              <p>
                The aim of the Samudayik Vikas Samiti is to help the deprived community avail all the basic amenities of life. It focuses on health promotion and educational programs for deprived people of India especially people living in slums and interior villages. They have been working for the last 16 years for the benefit of deprived community particularly in empowerment of communities through Promotion of information technology among the villagers, SHGs and micro insurances, rural development, child caring, Health promotions, non-formal education, women empowerment and various awareness camps related to health, environment, women welfare.

              </p>
              <p class="mb-0">
                <a href="https://svsamiti.com" target="_blank" class="primary-link">Read More</a>
              </p>
          </div>
      </div>
  </div>
</section>
