<section class="home-banner"
     style="background-image: url(./assets/images/events/20-SM279332.png); background-repeat: no-repeat; background-size: cover;">
     <div class="container">
          <div class="row">
               <div class="col-md-6">
               </div>
          </div>
     </div>
</section>
<section class="pgc-events-details-container py-5">
     <div class="container">
          <div class="row">
               <div class="col-lg-12">
                    <h1 class="pgc-events-details-heading">International Youth Day</h1>
                    <h6 class="pgc-events-details-h6"><img src="./assets/images/events/calender.png"
                              alt="PGC Calendar" />12 August 2021
                    </h6>
                    <h6 class="pgc-events-details-h6"><img src="./assets/images/events/location.png"
                              alt="PGC Location" />Global</h6>
                    <p class="pgc-events-details-p">1.21 billion. That’s how many young people between 15 - 24 inhabit
                         the earth – 15.5 per cent of the global population, according to estimates in the 2020 United
                         Nations World Youth Report. </p>

                    <p class="pgc-events-details-p">To better the world they stand to inherit, this socially conscious
                         group has unleashed their collective will and might, raising their voices to demand that
                         companies and governments address such issues from gender, racial and socioeconomic inequality
                         to climate change. Without waiting for an invitation or permission, youth activists rally their
                         peers, start and fuel movements, shift loyalties to brands that align with their values, call
                         out political leaders and defy the status quo to help shape a world they want to live in – one
                         in which all can thrive. </p>

                    <p class="pgc-events-details-p">Since being endorsed by the General Assembly in 1999, 12 August has
                         marked International Youth Day to acknowledge and amplify the importance of youth participation
                         in current affairs. UNFPA champions the rights of young people and works toward enabling them
                         to fulfill their potential.</p>

                    <p class="pgc-events-details-p">Throughout the year, UNFPA has banged the bodily autonomy drum as it
                         bears repeating time and again: Individuals have the right to make decisions about their bodies
                         and futures. We know that many are denied it. But we also know that young people are claiming
                         it – adolescents and girls are not only resisting harmful practices such as female genital
                         mutilation and child and arranged marriages but they are advocating against it. They’re also
                         bettering their communities in other ways, from educating neighbours on COVID-19 and health and
                         human rights in India, to supporting LGBTQI people in Lao People's Democratic Republic, to
                         assembling dignity kits for frontline workers in Egypt.</p>

                    <p class="pgc-events-details-p">This year, the Office of the UN Secretary-General’s Envoy on Youth
                         will host the first fully virtual #YouthLead Innovation Festival, which highlights young people
                         as innovators contributing solutions to the Sustainable Development Goals and COVID-19 response
                         and recovery. We celebrate young people’s efforts and contributions big and small toward
                         righting the world’s wrongs. Today’s youth are tomorrow’s leaders who know that nothing will
                         change if they stand by; change only happens when they stand up. </p>
               </div>
          </div>
     </div>
</section>