.pgc-blog-details{margin-top:-300px;}
.blog-link-btn{color:#fff; text-decoration: none; display: inline-block; padding: 10px 20px;}
.blog-link-btn i{margin-right:14px;}
.blog-details-business-info{color: #fff;}
.blog-details-business-info h5{position: relative; margin:20px 0px; display: flex; align-items: center;}
.blog-details-business-info h5::after{width:100%; height:2.2px; background: #fff; margin-left: 12px; margin-right: 15px; content: '';}
.blog-details-navigationlink{padding-left: 15px;}
.blog-details-navigationlink li{text-decoration: underline; margin: 10px 0px;}
.pgc-small-business-package-list{ list-style-type: decimal;}
.pgc-small-business-package-list li{margin: 10px 0px;}
.request-proposal{color: #000; text-decoration: none; margin-bottom: 50px; display: inline-block;}
.request-proposal i{margin-left:15px;}
.blog-details-long-info h1{font-weight:600; margin-bottom: 15px;}
.blog-details-long-info .related-article-heading{margin:60px 0px 30px; font-size: 2rem; color: #0b0b0b;}
.article-readmore{color: #0b0b0b; text-decoration: none; position: relative;}
.article-readmore::after{content: ''; position: absolute; left:0; bottom: 0; width: 82px; height: 1.5px; background: #0b0b0b;}
.we-re-here-to-help{color: #000; font-weight: 600;}
