<section class="home-banner"
      style="background-image: url(./assets/images/gallery/term-of-use.webp); background-repeat: no-repeat; background-size: cover;">
      <div class="container-fluid">
            <div class="row">
                  <div class="col-md-6 offset-md-6">
                  </div>
            </div>
      </div>
</section>
<section class="terms-condition-section py-5">
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <h1 class="text_b fs-5">The use of this web site constitutes agreement with the following terms
                              and
                              conditions:</h1>
                        <ul class="instruction-bank-transfer-list">
                              <li> The {{ config.appDisplayName }} maintains this website as a courtesy to its users who
                                    may choose to access the Site. The information presented herein is for informative
                                    purposes only. The {{ config.appDisplayName }} grants permission to download the
                                    information on the website for non-commercial use only.</li>
                              <li> It is mandatory to obtain permission from The {{ config.appDisplayName }} if you wish
                                    to
                                    reuse, repost, share, change or use any of the content on its website.</li>
                              <li> Unless expressly stated otherwise, the conclusions, interpretations and results
                                    expressed in the materials on this site are those of the various donors, experts,
                                    members and victims approaching the {{ config.appDisplayName }} who prepared the
                                    work
                                    and do not significantly represent the views of {{ config.appDisplayName }}.</li>
                              <li> {{ config.appDisplayName }} has provided only such information on the site that is
                                    right
                                    to the best of their awareness and belief for the users benefit. They are not
                                    accountable for the accuracy, adequacy, timeliness, or comprehensiveness of the
                                    information provided on the website.</li>
                              <li> {{ config.appDisplayName }} has a right to suspend any or all of the projects or
                                    programmes displayed on its website and to make changes, corrections and
                                    improvements to the information mentioned without any prior notice.</li>
                              <li> {{ config.appDisplayName }} will be only responsible for the links connected to its
                                    projects and programs but holds no responsibility for any off-site pages or pop-ups
                                    linked to it.</li>
                              <li> Your access to the website establishes acceptance of these Terms of use as of the
                                    date of your first use of the website and you must agree to use the website only for
                                    lawful purposes, and in a manner which does not infringe the rights, or restrict the
                                    use and enjoyment of the website by any third party.</li>
                              <li> In case any content is considered to be unlawful or against the law, it shall be
                                    removed forthwith by us on being intimated by the authorities of the respective
                                    jurisdiction that such content is deemed unlawful. We cannot be held liable or
                                    questioned for the same.</li>
                              <li> The terms of use shall prevail as per the laws of India.</li>
                              <li> Visiting the website means full acceptance of terms of use.</li>

                        </ul>
                        <h5> Disclaimer:</h5>
                        <p>You have to abide by the above-mentioned terms of use that are applicable by law if you use
                              the {{ config.appDisplayName }} website. By accessing the website you ensure your
                              acceptance
                              of the terms and conditions. Under no conditions shall the {{ config.appDisplayName }} be
                              liable for any loss, damage or liability suffered that is claimed to have resulted from
                              the use of this Site, including, without limitation, any fault, error, omission,
                              interruption or delay with respect thereto. The use of this Site is at the User’s sole
                              risk.</p>
                  </div>
            </div>
      </div>
</section>