<section class="home-banner"
    style="background-image: url(./assets/images/videos/video-banner.png); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
        </div>
    </div>
</section>
<section class="videos-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 my-3">
                <div class="videos-container">
                    <iframe class="w-100"  height="350" src="https://www.youtube.com/embed/EH4mPZFbnMY"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <div class="video-content-section">
                        <h5>2Gen Parent Testimonials from Horizons Unlimited Christian Academy</h5>
                        <p>The Community Foundation engaged in a three year, collaborative pilot with Horizons Unlimited
                            Christian Academy that included support for teachers, students, and their parents. Upon the
                            conclusion of the pilot, parents shared how they felt they had a greater capacity to create
                            a
                            better future for their families. </p>
                        <p>(May 2021, 8 Minutes)</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 my-3">
                <div class="videos-container">
                    <iframe class="w-100" height="350" src="https://www.youtube.com/embed/Qu8XUCGlAvM"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <div class="video-content-section">
                        <h5>2Gen Parent Testimonials from Horizons Unlimited Christian Academy</h5>
                        <p>The Community Foundation engaged in a three year, collaborative pilot with Horizons Unlimited
                            Christian Academy that included support for teachers, students, and their parents. Upon the
                            conclusion of the pilot, parents shared how they felt they had a greater capacity to create
                            a
                            better future for their families. </p>
                        <p>(May 2021, 8 Minutes)</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 my-3">
                <div class="videos-container">
                    <video class="w-100 h-400p"
                        poster="./assets/images/landing-page/ready-for-vaccination-video.webp" controls>
                        <source src="./assets/video/Final-copy-waccination-awareness.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div class="video-content-section">
                        <h5>2Gen Parent Testimonials from Horizons Unlimited Christian Academy</h5>
                        <p>The Community Foundation engaged in a three year, collaborative pilot with Horizons Unlimited
                            Christian Academy that included support for teachers, students, and their parents. Upon the
                            conclusion of the pilot, parents shared how they felt they had a greater capacity to create
                            a
                            better future for their families. </p>
                        <p>(May 2021, 8 Minutes)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
