<!-- Company Address  Modal -->
<div class="modal fade" id="delhimap" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><strong>{{ config.appDisplayName }}</strong><br />C/O
                    Stirring
                    Minds,
                    2-A/3, Kundan Mansion Asaf Ali Road, New Delhi - 110002</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3501.59315022437!2d77.23089521492359!3d28.641953382414027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd2474cfd531%3A0x5b77fe360cb0aa67!2sStirring%20Minds!5e0!3m2!1sen!2sin!4v1634129407231!5m2!1sen!2sin"
                    class="w-100 border-0" height="450"  allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>
<!-- Project Partner Address  Modal -->
<div class="modal fade" id="projectpartneraddressmap" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><strong>Amritam Wellness & Research
                        Centre</strong><br />Village-Katapatthar, Tehsil-vikas nagar, district-dehradun
                    uttarakhand-248198</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3437.2762412135166!2d77.85907031496991!3d30.51322698171423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390f3274e8924d99%3A0x325aeafbea2a577d!2sAmritam%20Wellness%20and%20Research%20Centre!5e0!3m2!1sen!2sin!4v1634130187714!5m2!1sen!2sin"
                    class="w-100 border-0" height="450" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>
