<section class="home-banner mobile-banner-right-align"
    style="background-image: url(./assets/images/accountability/16-SM91223.webp); background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="pgc-blog">Accountability</h1>
            </div>
        </div>
    </div>
</section>
<section class="accountability-section py-5 overflow-hidden">
    <div class="container mt-lg-5">
        <div class="row">
            <div class="col-lg-9">
                <div class="accountability-p-section" data-aos="zoom-in-right">
                    <p>{{ config.appDisplayName }} has established a long-term commitment towards India and proves its
                        sincerity
                        towards its members, donors, and needy people approaching for help. We believe in staying true
                        to our designed policies and work structure. We conduct our operations that emphasize good
                        governance, integrity, high ethical standards, and worthy respect for our citizens, country, and
                        the environment. </p>

                    <p>We work in a transparent structure and hold accountability for all our operations and services.
                        We provide a detailed report of all our transactions and the cases we are currently attending
                        to, including the cost incurred in assisting those needy people by the end of every month. In
                        case of any query, you can contact our team anytime. We will be pleased to assist you.
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="where-we-work-container" data-aos="zoom-in-left">
                    <img src="./assets/images/accountability/220-SM910354.webp" alt="Where we work" class="img-fluid where-we-work-img" />
                </div>
            </div>
        </div>
        <div class="row mx-0 my-5">
            <div class="col-lg-8 px-0 accountability-providing-financial-container"
                style="background-image: url(./assets/images/accountability/5ff948176745a.webp); background-repeat: no-repeat; background-size: cover;">
            </div>
            <div class="col-lg-4 px-0 accountability-bg">
                <div class="p-5">
                    <h3 class="accountability-p"><strong>How Can You Help?</strong></h3>
                    <h5 class="accountability-p"><strong>Our Monthly Donation:</strong></h5>
                    <p class="accountability-p">You can contribute a tiny share of your income every month to our
                        monthly fund collection. At the time of a medical emergency, this fund can be used to support
                        families. By donating a small amount, you can create a big difference in the lives of many
                        people.</p>
                    <p class="accountability-p">Our contingency fund for medical emergencies provides financial support
                        to those going through medical emergencies whose financial condition is not good enough to
                        support them sustain such emergencies.</p>
                </div>
            </div>
            <div class="col-lg-12 mt-5">
                <div data-aos="flip-up">
                    <p>We understand that by providing financial support, we can't resolve all the issues. So we also
                        take
                        care of pre-medical and post-medical care, especially for the families if the sole earning
                        member is
                        going through a medical condition or death. We monitor the patient for a year before we close
                        the
                        case.</p>
                    <p>So, let us stand by these families throughout the crisis.</p>
                    <p><strong>Join us, and let's make an impact together!</strong></p>

                </div>

            </div>
        </div>
    </div>
</section>