<img src="./assets/images/where-we-work/Group-48.png" alt="Where we Work" class="w-100" />
<section class="about-future-funding-section pt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="where-we-work-h">Where we work</h1>
                <p class="where-we-work-p">The urgent action we take today can
                    prevent the COVID-19 pandemic from
                    becoming a lasting crisis for children.</p>

            </div>

        </div>
    </div>
</section>
<section class="about-future-funding-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 my-4">
                <img src="./assets/images/where-we-work/Group-49.png" alt="Where we Work" class="img-fluid " />
            </div>
            <div class="col-lg-6 my-4">
                <h2 class="">Lorem Ipsum is the Dummy</h2>
                <p class="where-we-work-p">Whether it’s after a disaster, feeding a hungry child, or helping a
                    parent put food on the table, Convoy of Hope is proud to deliver
                    your kindness to those who need it most.</p>
            </div>
            <div class="col-lg-6 my-4">
                <h2 class="">Lorem Ipsum is the Dummy</h2>
                <p class="where-we-work-p">Whether it’s after a disaster, feeding a hungry child, or helping a
                    parent put food on the table, Convoy of Hope is proud to deliver
                    your kindness to those who need it most.</p>
            </div>
            <div class="col-lg-6 my-4">
                <img src="./assets/images/where-we-work/Group-50.png" alt="PGC kindness" class="img-fluid " />
            </div>
        </div>
    </div>
</section>
<section class="pgc-globe-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="pgc-globe-container">
                    <h2 class="state-name-h1">State in India</h2>
                    <h2 class="state-h1">Uttar Pradesh</h2>
                    <p class="pgc-state-pndemic-p">Whether it’s after a disaster, feeding a hungry child, or helping a
                        parent put food on the table, Convoy of Hope is proud to deliver
                        your kindness to those who need it most.</p>

                    <div class="row  my-5 rounded-3 our-work-timer">
                        <div class="col py-3 rounded-3 our-work-timer-border-right bg-white">
                            <h3 class="pgc-help-h3">2000+</h3>
                            <p class="pgc-help-p">Helping people</p>
                        </div>
                        <div class="col py-3 rounded-3 our-work-timer-border-right bg-white">
                            <h3 class="pgc-help-h3">50+</h3>
                            <p class="pgc-help-p">Family (Food Supply)</p>
                        </div>
                        <div class="col py-3 rounded-3 bg-white">
                            <h3 class="pgc-help-h3">10+</h3>
                            <p class="pgc-help-p">Volunteer</p>
                        </div>
                    </div>
                    <h2 class="state-h1">Work Details List</h2>
                    <p class="pgc-state-pndemic-p">You can check our work details please click on the button</p>
                    <a class="Statebtn">More about this State</a>
                </div>
            </div>
            <div class="col-lg-6">
                <img src="./assets/images/where-we-work/Image-20.png" alt="PGC" class="img-fluid india-map-width" />
            </div>
        </div>
    </div>
</section>
<section class="where-we-work-arround-world-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="arround-world-container">
                    <h1 class="where-we-work-h">Around the world</h1>
                    <p>Since PGC of Hope was established, help and hope have been delivered to hurting people in more
                        than 127 countries. PGC currently serves communities by empowering women, feeding kids, and
                        helping farmers yield larger crops. A global network — which includes two regional offices in
                        Europe and Australia — strengthens PGC’s ability to respond to natural disasters, extreme
                        poverty, and hunger.</p>
                    <p>Since PGC of Hope was established, help and hope have been delivered to hurting people in more
                        than 127 countries. PGC currently serves communities by empowering women, feeding kids, and
                        helping farmers yield larger crops. A global network — which includes two regional offices in
                        Europe and Australia — strengthens PGC’s ability to respond to natural disasters, extreme
                        poverty, and hunger.</p>
                    <p>Since PGC of Hope was established, help and hope have been delivered to hurting people in more
                        than 127 countries.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="where-we-work-container1">
                    <img src="./assets/images/where-we-work/Image.png" alt="PGC Where we work"
                        class="img-fluid where-we-work-img1" />
                </div>
            </div>
        </div>
    </div>
</section>